@{
    ViewBag.Title = "Despre noi";
}
<br />
<div class="text-center" >
    <h2>@ViewBag.Title</h2>
</div>
<br />
<div class="row bg-light">
    <div class="text-center ">
        <div class="text-center px-5 mx-5">
            <br />
            <img src="~/Content/Images/despreNoi.jpg" class="img-fluid" alt="" style="box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75); border-radius: 80px; width:50%;" />
            <p>
                <br /><br />
                Reprezentăm o echipă unită, entuziastă, pasionata de ceea ce face si preocupata de confortul si satisfactia pacientilor nostri.
                In cadrul clinicii noastre, beneficiezi de tratamente moderne si durabile, la cele mai inalte standarde in stomatologie.

            </p>
            <p>
                Profesionalismul, atenţia faţă de pacienţi, calitatea ridicată a serviciilor dentare dar si raportul calitate-preţ au fost ingrediente de baza
                care au adus succesul clinicii.

            </p>
            <p>
                Calitatea este asigurata de materialele de ultima generatie folosite, de dotarile ultramoderne
                ale clinicii si de experienta profesionala a medicilor nostri, care participă permanent la cursuri de specializare,
                astfel încât să vă poată oferi cele mai noi tehnici de tratament din lume.

            </p>
            <p>
                Obiectivul nostru este de a pastra calitatea actului medical coroborat prin empatia pe care o avem fata de pacient, prin intelegerea si grija actului medical.
                Facem toate eforturile pentru a pastra tarife accesibile astfel incat cei care ne trec pragul sa fie tratati corect la cele mai inalte standarde.
            </p>

        </div>
        <br />
        <div class="text-center"><a href="https://localhost:44361/Echipa/Index" class="btn btn-success btn-lg" role="button">Vezi Echipa</a> </div>
        <br />
    </div>
</div>
  
   
