@{
    ViewBag.Title = "Contact";
}
<br />
<div class="text-center" >
    <h2>@ViewBag.Title</h2>
</div>
<br />
<br />

<div class="row">
    <div class="col-lg-4 ms-5">
        <div class="row">
            <div class="col-auto" href="#">
                <i class="bi bi-telephone-fill " style="font-size: 2rem; color: deepskyblue;"></i>
            </div>
            <div class="col">
                <h3 class="media-heading">Telefon</h3>
                0742148249
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-auto" href="#">
                <i class="bi bi-geo-alt-fill " style="font-size: 2rem; color: deepskyblue;"></i>
            </div>
            <div class="col">
                <h3 class="media-heading">Adresa</h3>
                Str. Vasile Conta nr. 15, Craiova
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-auto" href="#">
                <i class="bi bi-envelope-fill " style="font-size: 2rem; color: deepskyblue;"></i>
            </div>
            <div class="col">
                <h3 class="media-heading">E-Mail</h3>
                <a href="mailto:contact@clinicadentalart.ro">contact@clinicadentalart.ro</a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-auto" href="#">
                <i class="bi bi-clock-fill " style="font-size: 2rem; color: deepskyblue;"></i>
            </div>
            <div class="col">
                <h3 class="media-heading">Program</h3>
                Luni-Vineri: 10:00-20:00
            </div>
        </div>
        <br />
    </div>
    <div class="col ">
        <img class="img-fluid" src="~/Content/Images/contact-harta.png" width="711" height="441" />
    </div>
</div>
<br />
 
